# Build directories
build/
build_*/
cmake-build-*/

# git 
*.log
*.diff

# Python
__pycache__/
.ruff_cache/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
.eggs/
lib/python*/site-packages/

# Virtualenvs
.venv/
.venv*/
.venvs/

# C++
.cache/

# IDE
.vscode/
.cursor/
.idea/
*.swp
*.swo
*~

# Compiled files
*.o
*.obj
*.a
*.s
*.asm
*.hasco
*.cubin
*.ptx

# Temporary files
/tmp/
*.tmp

# MACOS
.DS_Store
Thumbs.db
