# SPDX-FileCopyrightText: Advanced Micro Devices, Inc. All rights reserved.
#
# SPDX-License-Identifier: Apache-2.0

name: REUSE compliance check
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          repository: ${{ env.GITHUB_REPO_NAME }}
          ref: ${{ env.GITHUB_COMMIT_SHA }}
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v6
